.deleteModal{
    padding:1em;
    display:flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.deletTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}