/* .spots-index{
    font-family: sans-serif;
} */

nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin:1em;
}

img {
    width: 300px;
    height:300px;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}
.spot{
    margin: 0.5em;
}
.info{
    
}
.spotNav {
    text-decoration: none;
    color: black;
}
.spoti {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: em;
    
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.cityState{
    font-weight: bold;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding:0.8em;
}
.ratingStar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.price-night {
    display: flex;
}
h4 {
    font-weight: lighter;
}
.price {
    font-weight: bold;
    margin:0.5em;
}
.spotRate {
    margin:0.5em
}

.reserve {
    padding:1em;
    color:white;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    font-size: 0.6em;
    background-color: rgba(128, 128, 128, 0.798);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}