
.singleSpot {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin:  0 150px 0 150px;
    /* overflow: auto; */
    /* position: relative; */
}

.images {
    width: 100%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "a a b c"
    "a a d e";
    margin-bottom: 0;
    
    
}

.img0 {
    grid-area: a;
    width: 99%;
    height:100%;
    margin:0.2em;
    border-radius: 15px 0 0 15px;
    
}
.img1 {
    grid-area: b;
    height: 99%;
    width: 99%;
    margin:0.2em;
    border-radius: 0 0 0 0;
}
.img2 {
    grid-area: c;
    height: 99%;
    width: 99%;
    margin: 0.2em;
    border-radius: 0 15px 0 0;
}
.img3 {
    grid-area: d;
    height: 99%;
    width: 99%;
    margin: 0.2em;
    border-radius: 0 0 0 0;
}
.img4 {
    grid-area: e;
    height: 99%;
        width: 99%;
    margin: 0.2em;
    border-radius: 0 0 15px 0;
}

.details{
    width: 60%;
}
.hostName {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    
}
.description {
    font-size: 1.1em;
}

.callOut {
    width: 33%;
    border: 2px solid black;
    box-shadow: 5px 5px rgb(204, 189, 189);
    border-radius: 0.5em;
    padding: 0 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: sticky;
    top:0;

}

.belowImage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0 30px 0;
    width: 100%;
    /* border: 1px solid red; */
}


.reserve {
    background-color: palevioletred;
    width: 100%;
    border: white;
    border-radius: 2px;
    box-shadow: 5px 5px rgb(204, 189, 189);
}
.reserve:hover {
    background-color: rgb(216, 74, 121);
}

.price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceReview{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1em 1em 1em 1em; */
}
.reviews{
    margin:1em;
}
.reviews div {
    font-weight: bold;
    font-size: 1.2em;
}
.spotRate{
    margin-right: 1em;
}

.reviewNum{
    margin-left: 0.5em;
}
.priceOnly{
    display:flex;
    justify-content: center;
    align-items: center;
}

.priceP {
    font-size: 1.5em;
    margin-right:0.1em
}
.night{
    font-weight: lighter;
}

.numReview {
    font-size: 1.5em;
}
.reviewer {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
}
.reviewTime {
    font-size:0.8em;
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}
.reviewContent {
    font-size:0.9em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

*{
    font-family: 'Quicksand', sans-serif;
        
}
.dropDownSection{
    position: relative;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 10px;
}

.dropdown {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 450px;
    z-index: 5;
    position: absolute;
    top: 80px;
    right: 0;
    padding:50px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.CheckInCheckOut {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.checkIn {
    /* border: 1px solid red; */
    width: 50%;
    border-right:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    background-color: rgba(231, 231, 231, 0.389);
}
.checkIn:hover {
    filter:brightness(0.88)
}
.checkOut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:50%;
    padding: 8px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: rgba(231, 231, 231, 0.389);
}
.checkOut:hover {
    filter: brightness(0.88);
}
.FeeInfo{
    width: 100%;
}
.priceDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}