.createSpotPage {
    font-family: 'Quicksand', sans-serif;
    margin:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.createForm{
    
    width: 35%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.error {
    color: red;
}

.section{
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    border-bottom:1px solid black;
}

.cityState {
    display: flex;
    justify-content: space-between;

}

.city {
    margin: 1em;
}
.labelError {
    display: flex;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotInputField {
    width: 100%;
    margin-bottom:1em;
    padding:0.6em;
    border: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(204, 189, 189);

}

.titleCaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.dollorSign{
    display: flex;
}
.eachInputDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
}
label{
    padding-left: 0;
    padding-bottom: 0;
}
.cityLabel{
    font-weight: lighter;
}
.cityinPut {
    margin-right: 1em;
    width:80%
}
.stateinPut {
    width: 50%
}
.submitDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}
.createSubmit {
    padding: 1em;
    background-color: palevioletred;
    width: 83%;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgb(204, 189, 189);
    color: white;
    margin: 1em;
    border: 1px solid pink;
}
.createSubmit:hover {
    background-color: rgb(216, 74, 121);
}