/* Define all your CSS styling rules for the LoginFormPage component in the LoginForm.css file. */
.loginModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

label {
    margin: 0.5em;
}

input {
    margin: 1em;
}

.loginButton {
    padding: 0.2em;
    background-color: coral;
    width: 100%;
    color:white;
}